*,
*:active,
*:focus {
  box-sizing: border-box;
  outline: none;
}



html {
    line-height: 1.5;
    -webkit-text-size-adjust: 100%;
    box-sizing: border-box;
    text-rendering: geometricPrecision;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }


body{
    background-color: black;
}



.container{
    width: w-full;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box{
    width: 400px;
    height: 500px;
    background-color: rgb(20, 20, 20);
    color: white;
    padding: 30px;
    border-radius: 20px;
    margin: 20px;
}

p{
    color: #cbcbcb;
}

button{

    background-color: rgb(45, 45, 45);
    border: 0px;
    border-radius: 8px;
    color: white;
    padding: 20px;
    font-weight: bold;
    margin-top: 20px;

}

button:hover{
    background-color: rgb(255, 255, 255);
    border: 0px;
    border-radius: 0px;
    color: rgb(45, 45, 45);
    transition: all 0.3s ease-in-out   
}

@keyframes aparecer {
    0% {
      opacity: 0;
      transform: translateY(20px) scale(0.8);
      filter: blur(6px);
    }
    100% {
      opacity: 1;
      transform: translateY(0) scale(1);
      filter: blur(0px);
    }
  }


.resposta{
    color: rgb(44, 211, 44);
    font-size: 1rem;
    font-weight: bold;
    animation: aparecer 0.5s ease-out forwards;

}